@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
// $green_color: #00661a;
// $dark_title: #800040;
// $green_hover: #00cc66;
body,
html {
  background-color: $green_hover;
  height: 100%;
  width: 100%;
}

.container {
  transition: all 300ms;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-rows: minmax(100px, 1fr);
  color: #000;
}
#searchHolder {
  transition: all 300ms;
  padding: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-gap: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  color: #000;
  form {
    transition: all 300ms;
    width: 100%;
    display: flex;
    input {
      transition: all 300ms;
      width: 70%;
      margin-right: 10px;
    }
    button {
      transition: all 300ms;
      width: 28%;
      background-color: $dark_title;
      outline: none;
      border: 0;
      color: white;
    }
  }
  #articlesHolder {
    transition: all 300ms;
    width: 100%;
    ul {
      transition: all 300ms;
      display: flex;
      flex-wrap: wrap;
      li {
        position: relative;
        transition: all 300ms;
        width: 100%;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 3px;
        padding: 5px;
        color: #000;
        font-family: "Lato" sans-serif;
        font-size: 20px;
        display: flex;
        p {
          display: block;
          width: 80%;
        }
        &::after {
          transition: all 300ms;
          @include pseudo($content: "\e807");
          top: 50%;
          right: 1%;
          width: 20px;
          height: 20px;
          margin-top: -10px;
          font-family: $icons;
          font-size: 20px;
          color: green;
        }
      }
    }
  }
}

#savedHolder {
  border-radius: 10px;
  color: #000;
  transition: all 300ms;
  padding: 10px;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 2px;
      padding: 10px;
      color: white;
      border-radius: 5px;
      width: 100%;
      line-height: 20px;
      font-family: "Lato" sans-serif;
      background-color: white;
      font-size: 20px;
      transition: all 300ms;
      transition: all 300ms;
      position: relative;
      display: flex;
      img {
        width: 100px;
        height: 100px;
        margin-right: 5px;
        border-radius: 5px;
      }
      h3 {
        margin-right: 5px;
        color: #000;
        width: 75%;
      }
      span {
        &::after {
          @include pseudo($content: "\e805");
          top: 50%;
          margin-top: -25px;
          right: 0;
          width: 50px;
          height: 50px;
          font-size: 40px;
          text-align: center;
          line-height: 50px;
          font-family: $icons;
          color: rgba(0, 0, 0, 0.6);
          transition: all 300ms;
        }
      }
    }
  }
}
